
.inline-input {
    box-sizing: border-box;
    background: none;
    color: var(--textColor);
    border: none;
    user-select: none;
    font-family: var(--regularFont);
    font-size: 14px;
}

.inline-input:focus {
    outline: none !important;
}

.inline-input::placeholder {
    color: var(--textColorSecondary);
}
