
.assistant-view {
    background-color: orange;
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    transition: opacity 250ms;
    width: 100%;
    height: 100%;
}

.assistant-view-message-container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    color: #000000;
    border-bottom: solid 1px var(--black5);
    padding: 20px;
}

.assistant-view-user-message {
    box-sizing: border-box;
    user-select: text;
    white-space: pre-wrap;
    font-size: 14px;
}

.assistant-view-system-message {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    box-sizing: border-box;
    user-select: text;
    white-space: pre-wrap;
    font-size: 14px;
}

.assistant-view-input-box {
    position: absolute;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px 20px 0px 20px;
    box-sizing: border-box;
    column-gap: 12px;
    border-top: solid 1px var(--black10);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    background: #FFFFFFE6;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    height: 78px;
    width: 100%;
    transition: 150ms;
}

.assistant-view-chat-view-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: overlay;
}

.assistant-view-chat-view-container::-webkit-scrollbar {
    display: none;
}

.assistant-view-chat-view {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px 0px 77px 0px;
    box-sizing: border-box;
}

.assistant-view-system-message-explanation {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    border-radius: 6px;
    background: #00000004;
    color: #000000;
    border: solid 1px var(--black5);
    padding: 8px;
    box-sizing: border-box;
    user-select: text;
    white-space: pre-wrap;
}

.ai-profile-picture-view {
    border-radius: 50%;
    border: solid;
    border-color: var(--white20);
    border-width: 1px;
    width: 24px;
    height: 24px;
}